.chart{

flex:4;
padding : 10px;
color:gray;

background-color:white;
border-radius: 15px;

.title{
    margin-bottom: 20px;
}


// we need this when we want to change to dark mode. the stroke wil change in chartGrid
.chartGrid{

stroke: rgb(228, 225, 225);
}
}