.featured{
flex: 2;

padding : 10px;
background-color:white;
border-radius: 15px;

.top{
    display:flex;
    align-items:center;
    justify-content: space-between;
    color: gray;

.title{
    font-size: 15px;
    font-weight: 500;
}

}


.bottom{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

//flex direction sets the direction of the flex;
// row: same as text direction (default)
// row-reverse: opposite to text direction
// column: same as row but top to bottom
// column-reverse: same as row-reverse top to bottom
    

// column will make the flex look like a vertical column
    flex-direction: column;
//gap sets the padidng between rows and cols
    gap:15px;

    //this is the Featued(total rev) portion of the bottom section

    .featuredChart{
        //set dimensions of the featured chart section
width: 100px;
height: 100px;
    }

    .title{

        font-weight: 500;
        color: gray;
    }
    .amount{
    font-size: 30px; 
        }

        .desc{
            font-weight:300 ;
            font-size: 12px;
            color: gray;
            text-align: center;
        }

        .summary{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;


            .item{

                text-align: center;

                .itemTitle{
                    font-size: 14px;
                    color: gray;
                }
                
                .itemResultpositive{
                    display: flex;
                    font-size: 14px;
                    margin-top: 10px;
                    align-items: center;
                    color: green;

                }

                    .itemResultnegative{
                        display: flex;
                        font-size: 14px;
                        margin-top: 10px;
                        align-items: center;
                        color:red;
                }
            }
        }

}

}