.home{

  display:flex;
background-color:#f0f2fa;
height: 100%;
width: 100%;
  .homeContainer{


    flex:6; 
overflow-y: scroll;
    // widgets and charts have the same spacing and margins
    .widgets,.charts{
        display: flex;
       padding:20px;
        
    }



    .charts{
      padding:5px 20px ;
      gap:20px;

    }

.listContainer{

padding : 20px;
margin: 20px;
border-radius: 15px;

.listTitle {

  font-weight: 500;
  color: gray;
  margin-bottom: 15px;
  border-radius: 15px;

}


}


  }


}
