.sidebar{

// occupy 10% of the screen space for sidebar
flex:1;


// create lines on the right side
border-right:0.5px solid rgb(230,227,227);

// elongate the right side line to reach bottom of page
min-height:100vh;
background-color:white;
.top{
    height:50px;
    display:flex;
align-items: center;
justify-content: center;
.logo{
    font-size: 20px;
    font-weight: bold;
    color:#6439ff;
}
}

// make the line slim
hr{
    height:0;
    border:0.5px solid rgb(230,227,227);
}
// makes sidebar content more to the center
.center{
padding-left: 10px;

// we change the default ul style
ul{
list-style:null;
padding: 0; //removes dot jots
margin: 0;

// styles the MAIN,LISTS USEFUL SERVICE AND USER titles
.title{
    font-size: 15px;
    font-weight: bold;
    color:#999;
    margin-top: 15px;
    margin-bottom: 5px;
}

li{

    display:flex;
    align-items: center;
    padding:5px;
    cursor: pointer;
    &:hover{

        background-color:#ece8ff ;
    }
.icon{
    font-size: 18px;
    color:#7451f8

}

span{
font-size: 13px;
font-weight: 600;
color:#888;
margin-left:10px; //gives the text some space

}

}

}




}

.bottom{
    display: flex;
    align-items: center;
    margin: 10px;
    
    
    
    .colorOption{
        width: 20px;
        height: 20px;
        border-radius:5px;
        border:1px solid #7451f8;
        cursor: pointer;
        margin: 5px;
        // this is a scass documentation
        &:nth-child(1){

            background-color: whitesmoke;

        }
        &:nth-child(2){

            background-color: #333;
            
        }&:nth-child(3){

            background-color: darkblue;
            
        }
    }
    
    }
}