
.speaker-option{



    .profile-card{
        margin-left: 1018px;
    margin-top: 17px;
    position: absolute;
    display: flex;
    gap: 6px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

     


    }


    .speakerTitle{

        
    }


}
