

.vert{
    position: absolute;
    margin-left: -95px;
    margin-top: 38px;

.vert_container{
    gap: 35px;
    padding-left: 116px;
    padding-bottom: 27px;

.avatar{
    width: 67px;
    height: 68px;
    border-radius: 50%;

}
    
}

}